Author: Vinícius Antoino Ramos Zecca

*LinkedIn: /viniciusarz*

*Github: /ViniciusARZ*

In [6]:
import sqlite3
import pandas as pd
from IPython.display import display
import sqlalchemy

# Data Cleaning and Processing (w/ Tools)

## Google Spreadsheets

In Google Spreadsheets I cleaned up what it was faster than it would be using SQL:
1. Replace "N/A's with " ", or basically *nulls*
2. Transform some Attribute types to make it easier to read in SQL.
3. Column "Faturamento" was in Text but it actually is a currency, so I used SPLIT() + TRIM() + SUBSTITUTE() + 'Number Formatting' to correct it... Same thing  with others.
4. Select which Columns I'm going to need based on the problem I want to solve and the analysis object. Did a backup in case I wanted to return.

## SQL - Google Cloud's Big Query

Disclaimers:
1. I didn't use SQLite extension because I already had everything in Big Query
2. The following Query Codes are just to show what I did in SQL and keep a Changelog

Import and Schema Establishment

In [ ]:
#'ID:INTEGER,EMPRESA_JUNIOR:STRING,DATA_DE_CADASTRO:DATE,ANO_DE_FEDERACAO:INTEGER, CLUSTER_2020:INTEGER,CLUSTER_2021:INTEGER,CLUSTER_2022:INTEGER,É_ALTO_CRESCIMENTO:BOOLEAN, MES_DO_ALTO_CRESCIMENTO:INTEGER,TEMPO_MEDIO_POR_PROJETO_DIAS:FLOAT,PORC_PROJETOS_COLETADOS_NPS:INTEGER,DATA_DE_ASSINATURA:DATE,MES:INTEGER,PROJETOS:INTEGER,DURACAO_DO_PROJETO_EM_DIAS_UTEIS:INTEGER,FATURAMENTO:FLOAT,ATINGE_ALGUM_ODS:BOOLEAN,NUMERO_DE_ODS_ATINGIDOS:INTEGER,ACAO_COMPARTILHADA:BOOLEAN,NUMERO_DE_EJS_QUE_PARTICIPARAM:INTEGER,NUMERO_DE_MEMBROS_PARTICIPANTES:INTEGER,NPS:INTEGER,DATA_DE_COLETA_DE_NPS:DATE,ESTADO_DO_CLIENTE:STRING,CIDADE_DO_CLIENTE:STRING,SERVICO:STRING,ESTADO:STRING,CIDADE:STRING,UNIVERSIDADE:STRING,CURSOS:STRING,NUMERO_MEMBROS:INTEGER'

# Dataframe reading just to visualize the table
df2021 = pd.read_csv('/content/BJ_NuSC_Mon2021_07 - 2021.csv',',')
display(df2021)

*The SQL Queries to create Variables are in the Analysis Section below*

# Analysis Phase

In [ ]:
# Aggregate data by Junior Enterprise and tell me the Cluster progress rate,
#   so this means that I want to see the proportion between Junior Enterprises that
#   were able to progress from 2020 to 2021 in Cluster classification.
#   QUERY 1
#   SELECT EMPRESA_J__NIOR,
    #   AVG(CLUSTER_2020) AS CLUSTER2020,
    #   AVG(CLUSTER_2021)AS CLUSTER2021,
    #   FROM `dataset-orbe.IRHistoricalAnalysis.NUSC_2021_07`
    #   GROUP BY EMPRESA_J__NIOR
    #   ORDER BY C2021 DESC
resultsQuery1 = pd.read_csv('results-query1.csv')
display(resultsQuery1)

# What can be seen from there?

# Cluster Evolution
# - In SQL:
#   SELECT EMPRESA_J__NIOR,
    #   AVG(CLUSTER_2020) AS CLUSTER2020,
    #   AVG(CLUSTER_2021)AS CLUSTER2021,
    #     ( SELECT COUNT(ID), 
    #     FROM `dataset-orbe.IRHistoricalAnalysis.NUSC_2021_07` 
    #     WHERE CLUSTER_2021 != CLUSTER_2020
    #     ) AS Percent
    #   FROM `dataset-orbe.IRHistoricalAnalysis.NUSC_2021_07`
    #   GROUP BY EMPRESA_J__NIOR
    #   ORDER BY CLUSTER2021 DESC
# In pandas:
NoJEProgressedCluster = resultsQuery1[resultsQuery1['CLUSTER2020'] != resultsQuery1['CLUSTER2021']]
print(NoJEProgressedCluster.count()/resultsQuery1.count())

# Cluster Proportion
# QUERY 2
#   SELECT CLUSTER_2020, 
    #   count(CLUSTER_2021) as Cluster2021_count,
    #   count(CLUSTER_2021) * 100.0 / (
    #       select count(*) from `dataset-orbe.IRHistoricalAnalysis.NUSC_2021_07`) 
    #       AS Cluster_percent2021
    #   FROM `dataset-orbe.IRHistoricalAnalysis.NUSC_2021_07`
    #   group by CLUSTER_2020
ResultsQuery2 =


If the ID is taken into account, because it is the only value that can't be *null*, this means that only 0.36, or **36%**, of Junior Enterprises were **able to Progress in Cluster Classification**